<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog Page</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>

<body>
    <div class=" bg-[#0A3D2F] h-full text-white flex flex-col gap-10">
        <div class="w-full py-7 px-8 text-white flex justify-between items-center">

            <div class="flex items-center gap-4">
                <div class="border rounded-3xl p-2  bg-green-400 hover:bg-green-500">
                    <svg id="ham" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 16 16">
                        <title xmlns="">hamburger</title>
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M0 3.75A.75.75 0 0 1 .75 3h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 3.75M0 8a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 8m.75 3.5a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="border rounded-3xl p-1 ">
                    EN
                </div>
            </div>

            <div class="flex gap-1">
                <div class="bold text-4xl items-center">
                    { / }
                </div>
                <div class="justify-start font-medium">
                    <div class="text-white">Expert</div>
                    <div class="text-white">Tech Group</div>
                </div>
            </div>

            <div class="flex items-center ">
                <div class="border rounded-3xl p-2">
                    <img src="../icon_2/user-circle.svg">
                </div>
            </div>


        </div>
        <div class="flex justify-start gap-2 mx-10">
            <div class="">
                <img src="../icon_2/arrow-left-02-sharp.svg" class="h-8 w-8 font-medium text-white">
            </div>
            <div class="text-white font-medium">
                BACK
            </div>
        </div>
        <div class="mx-10">
            <div class="flex flex-col gap-3">
                <div class="text-white text-3xl font-medium">
                    Blog Title Heading Will Go Here
                </div>
                <div class="text-lg text-[#F1A611] font-medium ">
                    CATEGORY
                </div>
                <div class="text-white ">
                    11 Jan 2022 . 5min read
                </div>
                <div class="">
                    <img src="../icon/Mask group.svg">
                </div>
                <div class="text-white font-medium text-lg mt-2">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="flex flex-col gap-3 text-sm">
                    <div class="text-white">
                        Lorem ipsum dolor sit amet consectetur. Habitasse metus dui quis viverra eu donoc. Eu rutrum
                        donec sit pharetra felis ac libero.
                    </div>
                    <div class="text-white">
                        Egestas eget adipiscing amet enim sit quis faucibus. Totor et enim risus quam quique
                        scelerisque. Neque libero scelerisque nec nisi
                    </div>
                    <div class="text-white">
                        imperdiet morbi. laculis et ac ligula sed rhoncus nullam leo elementum. A non cras pretium urna
                        montes sed habitant. Velit nunc
                    </div>
                    <div class="text-white">
                        consectetur vulputate justo mus Totor enim. Nulla sed vestibulum amet at in et.
                    </div>
                </div>
                <div class="">
                    <img src="../icon/Mask group (1).svg">
                </div>
                <div class="text-white font-medium text-lg mt-2">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="flex flex-col gap-3 text-sm">
                    <div class="text-white">
                        Lorem ipsum dolor sit amet consectetur. Habitasse metus dui quis viverra eu donoc. Eu rutrum
                        donec sit pharetra felis ac libero.
                    </div>
                    <div class="text-white">
                        Egestas eget adipiscing amet enim sit quis faucibus. Totor et enim risus quam quique
                        scelerisque. Neque libero scelerisque nec nisi
                    </div>
                    <div class="text-white">
                        imperdiet morbi. laculis et ac ligula sed rhoncus nullam leo elementum. A non cras pretium urna
                        montes sed habitant. Velit nunc
                    </div>
                    <div class="text-white">
                        consectetur vulputate justo mus Totor enim. Nulla sed vestibulum amet at in et.
                    </div>
                </div>
            </div>
            <div class="mt-20 mb-20 flex justify-between">
                <div class="">
                    <div class="flex ">
                        <div class="flex text-white text-4xl font-medium">
                            {
                        </div>
                        <div class="text-green-700 font-medium text-4xl">
                            /
                        </div>
                        <div class="flex text-white text-4xl font-medium">
                            }
                        </div>
                        <div class="text-white">
                            <div class="">Expert</div>
                            <div class="">Tech Group</div>
                        </div>
                    </div>
                    <div class="mt-5 flex flex-col">
                        <div class="text-white mb-2">
                            Contact
                        </div>
                        <div class="text-white">
                           <u> 237 684 392 081</u>
                        </div>
                        <div class="text-white">
                           <u> 237 690 718 388</u>
                        </div>
                        <div class="mt-3 flex gap-3">
                            <img src="../icon_2/Footer/3/Icon/Facebook.svg" alt="Facebook">
                            <img src="../icon_2/Footer/3/Icon/Instagram.svg" alt="Instagram">
                            <img src="../icon_2/Footer/3/Icon/LinkedIn.svg" alt="LinkedIn">
                            <img src="../icon_2/Footer/3/Icon/Twitter.svg" alt="Twitter">
                        </div>
                    </div>
                </div>
                <div class="flex gap-20 mr-15">
                    <div class="flex flex-col gap-2">
                        <div class="text-green-700 font-medium">
                            RESOURCES
                        </div>
                        <div class="text-white font-medium">
                            Blog
                        </div>
                        <div class="text-white font-medium">
                            Projects
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="text-green-700 font-medium">
                            COMPANY
                        </div>
                        <div class="text-white font-medium">
                            About
                        </div>
                        <div class="text-white font-medium">
                            Our services
                        </div>
                        <div class="text-white font-medium">
                            Our teams
                        </div>
                        <div class="text-white font-medium">
                            Testimonials
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
            <div class="border border-white font-light w-full mb-4"></div>
            </div>
            <div class="text-white flex justify-between">
                <div class="font-extralight"><u>@ 2026 Expert Group Tech all rights reserved</u></div>
                <div class="flex gap-3">
                    <div class="font-extralight"><u>Privacy</u></div>
                    <div class="font-extralight"><u>Terms of Service</u></div>
                    <div class="font-extralight"><u>Cookies Setting</u></div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>