<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">

    </script>
</head>



<body>
    <div class=" bg-[#0A3D2F] h-full text-white flex flex-col gap-10">
        <div class="w-full py-7 px-8 text-white flex justify-between items-center">

            <div class="flex items-center gap-4">
                <svg id="ham" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 16 16">
                    <title xmlns="">hamburger</title>
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M0 3.75A.75.75 0 0 1 .75 3h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 3.75M0 8a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 8m.75 3.5a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                        clip-rule="evenodd" />
                </svg>
                <div class="border rounded-3xl p-1 ">
                    EN
                </div>
            </div>

            <div class="flex gap-1">
                <div class="bold text-4xl items-center">
                    { / }
                </div>
                <div class="justify-start font-medium">
                    <div class="text-white">Expert</div>
                    <div class="text-white">Tech Group</div>
                </div>
            </div>

            <div class="flex items-center ">
                <div class="border rounded-3xl p-2">
                    <img src="../icon_2/user-circle.svg">
                </div>
            </div>


        </div>


        <div class="px-6 sm:px-10 xl:px-16">
            <!--HERO SECTION-->
            <div class=" text-center mt-10">
                <div class="text-xl mb-10">Welcome to EXPERT TECH GROUP</div>
                <div class="text-4xl md:text-5xl">Where Technology <br> Meets Expertise.</div>
            </div>
            <!--HERO SECTION END-->

            <div class="grid md:grid-cols-2 mt-20 gap-10">
                <div class="mb-5 md:mb-0">
                    <div class="text-orange-500 text-xl"> ABOUT US</div>
                    <div class="text-4xl md:text-5xl mt-5">Dirven By<br> Vision, Built On<br> Expertise</div>
                </div>
                <div class="">
                    <div class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
                        consequuntur ut ipsa
                        maiores! Eius neque ducimus provident, vitae quis necessitatibus, cupiditate quasi earum
                        explicabo laudantium labore
                        ipsam voluptatum aut est ex, placeat corporis mollitia iste ipsa. Laborum, ad consequatur quae
                        vel alias error? Quae
                        repudiandae mollitia tempora aliquid doloremque libero, magni ea. Doloremque sit tempore
                        expedita, dolores nam eveniet
                        laudantium quia deleniti voluptatem ea quas nesciunt, et libero. In, deserunt. Nisi amet
                        explicabo esse recusandae ullam et,
                        eaque doloribus nam molestiae laboriosam tempore repellendus, numquam natus? Facilis, voluptatum
                        itaque atque velit nihil
                        tempora deserunt! Animi amet atque incidunt veritatis perspiciatis.</div>
                </div>
            </div>

        </div>
        <div class="px-6 sm:px-10 xl:px-16">
            <div class=" text-center mt-20">
                <div class="text-xl text-orange-400">OUR SERVICES</div>
                <div class="text-4xl md:text-5xl">Our Ecosystem<br> of Expertise</div>
            </div>
            <div class="flex justify-center">
                <div class="bg-orange-400 text-center rounded-lg mt-5 py-2 px-4">Modify content</div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-6 sm:px-10 xl:px-16 gap-5">
            <div style="background-image: url('../icon/Group 1000004789.svg');" class=" border border-[#009E8E33] py-5 px-4  text-white rounded-lg w-full bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004625.svg">
                </div>
                <div class="my-4 ">IT Support & Infrastructure</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class=" border border-[#009E8E33] py-5 px-4  text-white rounded-lg w-full bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Frame 1000004768.svg">
                </div>
                <div class="my-4">Appplication Developement</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class=" border border-[#009E8E33] py-5 px-4  text-white rounded-lg w-full bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Frame 1000004833.svg">
                </div>
                <div class="my-4">Digital Marketing</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center ">
                <div class="bg-transparent">
                    <img class="bg-transparent" src="../icon/cctv-camera.svg">
                </div>
                <div class="my-4">Security Camera Installation</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent" src="../icon/elements (2).svg">
                </div>
                <div class="my-4">Computer Design</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004627.svg">
                </div>
                <div class="my-4">Cisco Network and Cybersecurity</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center ">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004628.svg">
                </div>
                <div class="my-4">Cloud Computing</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004634.svg">
                </div>
                <div class="my-4">Language Training</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004630.svg">
                </div>
                <div class="my-4">Out sourcing</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004633.svg">
                </div>
                <div class="my-4">Agriculture</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center ">
                <div class="bg-transparent">
                    <img class="bg-transparent"
                        src="../icon/Group 1000004635.svg">
                </div>
                <div class="my-4">Import Export</div>
            </div>
            <div style="background-image: url('../icon/Group 1000004789.svg');" class="py-5 px-4  text-white rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="">
                    <img class="bg-transparent" src="../icon/elements (3).svg">
                </div>
                <div class="my-4">General Commerce</div>
            </div>
        </div>
        <div class="px-6 sm:px-20 xl:px-60 2xl:px-50">
            <div class=" text-center mt-20">
                <div class="text-xl text-orange-400">OUR PROJECTS AND ACTIVITIES</div>
                <div class="text-4xl md:text-5xl">Impact In Action</div>
            </div>
            <div class="flex justify-center">
                <div class="bg-orange-400 text-center rounded-lg mt-5 py-2 px-4">Modify content</div>
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 px-6 sm:px-10 xl:px-16 gap-3">
            <div style="background-image: url('../icon/Mask group (3).svg');" class="pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class="pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class="pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class="pb-5 px-4 pt-40 rounded-lg  border border-[#009E8E33] bg-cover bg-center ">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class=" pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class=" pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
            <div style="background-image: url('../icon/Mask group (3).svg');" class=" pb-5 px-4 pt-40 rounded-lg border border-[#009E8E33] bg-cover bg-center">
                <div class="text-orange-400 text-xs">COMPUTER NETWORK</div>
                <div class="mt-3 text-white">LAN Deployment & Administration with Cisco Network Appliances</div>
            </div>
        </div>
        <div class="px-6 sm:px-10 xl:px-16">
            <div class=" text-center mt-20">
                <div class="text-xl text-orange-400">TESTIMONIALS</div>
                <div class="text-4xl mt-3 md:text-5xl">Voices Of Trust</div>
                <div class="text-xs mt-10 md:text-xl">Over 200 satisfied clients and intern graduates love our services
                </div>
                <div class="flex px-4 justify-center mt-5 sm:px-20 xl:px-60 2xl:px-50 gap-4">
                    <div class="mt-2">
                        <img src="../icon/Group 1000002166.svg">
                    </div>
                    <div class="flex flex-col items-start gap-3">
                        <div class="text-xs text-orange-400  md:text-xl">★★★★★</div>
                        <div class="text-xs  md:text-md">Based on 200 reviews</div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="bg-orange-400 text-center rounded-lg mt-5 py-2 px-4">Modify content</div>
                </div>
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 px-6 sm:px-10 xl:px-16 gap-3">
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
            <div class="py-5 px-4 rounded-lg bg-[#009E8E1A] border border-[#009E8E33]">
                <div class="flex gap-5 text-white ">
                    <div>
                        <img src="../icon/Group 1000002171.svg">
                    </div>
                    <div class="text-white">
                        <div class="font-medium">Jane Doe</div>
                        <div class="mt-1">Intern Graduate</div>
                    </div>
                </div>
                <div class="my-7 text-white justify-center text-justify">
                    Lorem ipsum dolor sit amet consectetur. Id quis vostibulum velit orci justo.
                    Ornare bibendum quis adipiscing commodo faucibus. Arcu a sem eu ultrices morbi risus.
                    Arcu consequat in viverra malesuada lacing arci sagittis laucibus placerat.
                </div>
            </div>
        </div>
        <div class="mt-20 mb-20 flex justify-between mx-15">
            <div class="">
                <div class="flex ">
                    <div class="flex text-white text-4xl font-medium">
                        {
                    </div>
                    <div class="text-green-700 font-medium text-4xl">
                        /
                    </div>
                    <div class="flex text-white text-4xl font-medium">
                        }
                    </div>
                    <div class="text-white">
                        <div class="">Expert</div>
                        <div class="">Tech Group</div>
                    </div>
                </div>
                <div class="mt-5 flex flex-col">
                    <div class="text-white mb-2">
                        Contact
                    </div>
                    <div class="text-white">
                        <u> 237 684 392 081</u>
                    </div>
                    <div class="text-white">
                        <u> 237 690 718 388</u>
                    </div>
                    <div class="mt-3 flex gap-3">
                        <img src="../icon_2/Footer/3/Icon/Facebook.svg" alt="Facebook">
                        <img src="../icon_2/Footer/3/Icon/Instagram.svg" alt="Instagram">
                        <img src="../icon_2/Footer/3/Icon/LinkedIn.svg" alt="LinkedIn">
                        <img src="../icon_2/Footer/3/Icon/Twitter.svg" alt="Twitter">
                    </div>
                </div>
            </div>
            <div class="flex gap-20 mr-15">
                <div class="flex flex-col gap-2">
                    <div class="text-green-700 font-medium">
                        RESOURCES
                    </div>
                    <div class="text-white font-medium">
                        Blog
                    </div>
                    <div class="text-white font-medium">
                        Projects
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="text-green-700 font-medium">
                        COMPANY
                    </div>
                    <div class="text-white font-medium">
                        About
                    </div>
                    <div class="text-white font-medium">
                        Our services
                    </div>
                    <div class="text-white font-medium">
                        Our teams
                    </div>
                    <div class="text-white font-medium">
                        Testimonials
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-15">
            <div class="border border-white font-light w-full mb-4"></div>
        </div>
        <div class="text-white flex justify-between mx-15">
            <div class="font-extralight"><u>@ 2026 Expert Group Tech all rights reserved</u></div>
            <div class="flex gap-3">
                <div class="font-extralight"><u>Privacy</u></div>
                <div class="font-extralight"><u>Terms of Service</u></div>
                <div class="font-extralight"><u>Cookies Setting</u></div>
            </div>
        </div>
    </div>

</body>


</html>