<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>

<body>
    <div id="successBanner"
        class="hidden fixed top-0 left-0 right-0 z-50 bg-green-200 text-green-900 text-center py-3 font-semibold shadow-md">
        Login Successful
    </div>
    <div class="bg-[#001a1a] p-2 sm:px-30 lg:px-80 xl:px-110 py-20">
        <div
            class="relative text-white p-10 rounded-xl border border-teal-500/30 bg-white/5 backdrop-blur-xl shadow-2xl">
            <div class="absolute -top-1 -left-1 w-30 h-30 border-t-4 border-l-4 border-teal-400 rounded-tl-3xl"></div>
            <div class="absolute -top-1 -right-1 w-30 h-30 border-t-4 border-r-4 border-teal-400 rounded-tr-3xl"></div>
            <div class="absolute -bottom-1 -left-1 w-30 h-30 border-b-4 border-l-4 border-teal-400 rounded-bl-3xl">
            </div>
            <div class="absolute -bottom-1 -right-1 w-30 h-30 border-b-4 border-r-4 border-teal-400 rounded-br-3xl">
            </div>
            <div class="flex justify-between">
                <div class="font-bold text-md">Welcome to Lorem</div>
                <div class=" text-sm">
                    <div class="">No Account?</div>
                    <div class="text-teal-400">Sign in</div>
                </div>
            </div>
            <div class="text-3xl font-medium my-6 ">Sign in</div>
            <div class="text-xs">
                <div class="mb-6">
                    <label class=" text-white text-sm mb-2 block">Enter your username or email address</label>
                    <input id="name" type="text" placeholder="Username or email address"
                        class="w-full px-4 py-3 rounded-lg bg-white text-black focus:outline-none focus:ring-2 focus:ring-teal-400" />
                </div>
                <div class="">
                    <label class=" text-white text-sm mb-2 block">Enter your password</label>
                    <input id="password" type="password" placeholder="Password"
                        class="w-full px-4 py-3 rounded-lg bg-white text-black focus:outline-none focus:ring-2 focus:ring-teal-400" />
                </div>
                <div class="py-2 text-right text-teal-400">Forgot Password</div>
                <button id="signinBtn"
                    class="w-full bg-[#00A38D] hover:bg-[#008c7a] text-white font-semibold py-4 rounded-lg transition-all shadow-[0_0_20px_rgba(0,163,141,0.4)] mt-10">Sign
                    in
                </button>
            </div>
        </div>

    </div>
    <script src="../JsFunction/signin.js" defer></script>
</body>

</html>