<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up Coming Event</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>

<body>
    <div class=" bg-[#0A3D2F] h-full text-white flex flex-col gap-10">
        <div class="w-full py-7 px-8 text-white flex justify-between items-center">

            <div class="flex items-center gap-4">
                <div class="border rounded-3xl p-2  bg-green-400 hover:bg-green-500">
                    <svg id="ham" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 16 16">
                        <title xmlns="">hamburger</title>
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M0 3.75A.75.75 0 0 1 .75 3h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 3.75M0 8a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 8m.75 3.5a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="border rounded-3xl p-1 ">
                    EN
                </div>
            </div>

            <div class="flex gap-2">
                <div class="bold text-4xl items-center">
                    {/}
                </div>
                <div class="justify-start font-medium">
                    <div class="text-white">Expert</div>
                    <div class="text-white">Tech Group</div>
                </div>
            </div>

            <div class="flex items-center ">
                <div class="border rounded-3xl p-1">
                    <img src="../icon_2/logout-02.svg">
                </div>
            </div>
        </div>
        <div class="text-white flex-col justify-center">
            <div class="px-40 font-medium text-4xl flex justify-center">
                Up Coming
            </div>
            <div class="px-40 font-medium text-4xl flex justify-center">
                Events
            </div>
            <div
                class="bg-[#00a18e] text-center rounded-lg py-2 my-4 mx-130 hover:bg-[#00c19f] flex justify-center gap-3">
                <img src="../icon/add/add-circle.svg" alt="add">
                <div class="text-white">Add service</div>
            </div>
            <div class="text-cente text-2xl flex justify-center">
                Modify Content
            </div>
        </div>
        <div class="md:grid grid-cols-3 mb-24 gap-3 mt-3 mx-7 sm:grid grid-cols-1 gap-1">
            <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
           <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
            <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
            <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
            <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
            <div class="text-white bg-[#009E8E1A] p-2 border border-green-400 rounded-lg">
                <div class="">Coming up: Computer tech as a beginner from </div>
                <div class="ml-22">scratch training </div>
                <div class="">Yaounde 13th - 14th June 2026</div>
                <div class="flex p-4 gap-2">
                    <button class="bg-[#F2A20B] cursor-pointer shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon/edit-02.svg" alt="upload">
                    </button>
                    <button class="bg-[#D51119] shadow-xl shadow-black rounded-sm p-2" type="">
                        <img src="../icon_2/delete-01.svg" alt="delete">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>